<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Input/Output" data-toc-modified-id="Input/Output-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Input/Output</a></span></li><li><span><a href="#Pandas-data-structures" data-toc-modified-id="Pandas-data-structures-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas data structures</a></span></li><li><span><a href="#Common-dataframe-functionality" data-toc-modified-id="Common-dataframe-functionality-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Common dataframe functionality</a></span></li><li><span><a href="#Advanced-Indexing" data-toc-modified-id="Advanced-Indexing-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Advanced Indexing</a></span><ul class="toc-item"><li><span><a href="#iloc" data-toc-modified-id="iloc-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>iloc</code></a></span></li><li><span><a href="#loc" data-toc-modified-id="loc-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>loc</code></a></span></li><li><span><a href="#ix" data-toc-modified-id="ix-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span><code>ix</code></a></span></li><li><span><a href="#Boolean-indexing" data-toc-modified-id="Boolean-indexing-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span><code>Boolean indexing</code></a></span></li><li><span><a href="#querying" data-toc-modified-id="querying-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span><code>querying</code></a></span></li><li><span><a href="#isin" data-toc-modified-id="isin-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span><code>isin</code></a></span></li></ul></li><li><span><a href="#Setting/-Resetting-Index" data-toc-modified-id="Setting/-Resetting-Index-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Setting/ Resetting Index</a></span><ul class="toc-item"><li><span><a href="#set_index()" data-toc-modified-id="set_index()-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span><code>set_index()</code></a></span></li><li><span><a href="#reset_index()" data-toc-modified-id="reset_index()-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span><code>reset_index()</code></a></span></li><li><span><a href="#rename()" data-toc-modified-id="rename()-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span><code>rename()</code></a></span></li></ul></li><li><span><a href="#Duplicated-data" data-toc-modified-id="Duplicated-data-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Duplicated data</a></span><ul class="toc-item"><li><span><a href="#unique()" data-toc-modified-id="unique()-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>unique()</code></a></span></li><li><span><a href="#duplicated()" data-toc-modified-id="duplicated()-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>duplicated()</code></a></span></li><li><span><a href="#drop_duplicates" data-toc-modified-id="drop_duplicates-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>drop_duplicates</code></a></span></li></ul></li><li><span><a href="#Grouping-data" data-toc-modified-id="Grouping-data-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Grouping data</a></span><ul class="toc-item"><li><span><a href="#groupby" data-toc-modified-id="groupby-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span><code>groupby</code></a></span></li><li><span><a href="#transform" data-toc-modified-id="transform-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>transform</code></a></span></li></ul></li><li><span><a href="#Handling-missing-data" data-toc-modified-id="Handling-missing-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Handling missing data</a></span><ul class="toc-item"><li><span><a href="#dropna" data-toc-modified-id="dropna-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span><code>dropna</code></a></span></li><li><span><a href="#fillna" data-toc-modified-id="fillna-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span><code>fillna</code></a></span></li></ul></li><li><span><a href="#Combining-Data" data-toc-modified-id="Combining-Data-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Combining Data</a></span><ul class="toc-item"><li><span><a href="#merge-/--join" data-toc-modified-id="merge-/--join-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span><code>merge</code> /  <code>join</code></a></span></li><li><span><a href="#concatenate" data-toc-modified-id="concatenate-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span><code>concatenate</code></a></span></li></ul></li><li><span><a href="#Date-formatting" data-toc-modified-id="Date-formatting-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Date formatting</a></span></li><li><span><a href="#Reshaping-data" data-toc-modified-id="Reshaping-data-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Reshaping data</a></span><ul class="toc-item"><li><span><a href="#pivot--&gt;-reshape-data" data-toc-modified-id="pivot-->-reshape-data-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span><code>pivot</code> -&gt; reshape data</a></span></li><li><span><a href="#stack" data-toc-modified-id="stack-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span><code>stack</code></a></span></li></ul></li><li><span><a href="#Iteration" data-toc-modified-id="Iteration-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Iteration</a></span></li><li><span><a href="#Apply-functions" data-toc-modified-id="Apply-functions-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Apply functions</a></span></li><li><span><a href="#Working-with-text-data" data-toc-modified-id="Working-with-text-data-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Working with text data</a></span><ul class="toc-item"><li><span><a href="#str" data-toc-modified-id="str-14.1"><span class="toc-item-num">14.1&nbsp;&nbsp;</span><code>str</code></a></span></li></ul></li><li><span><a href="#End" data-toc-modified-id="End-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>End</a></span></li></ul></div>

In [2]:
import pandas as pd
import numpy as np # necessity as pandas is built on np
from IPython.display import Image # to display images

In [8]:
Image('../input/images/pddf.jpg', width=700)

The Pandas library is built on NumPy and provides easy-to-use data structures and data analysis tools for the Python programming language.  
  
Refer to these cheatsheets:  
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience+(1).pdf
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Python_Pandas_Cheat_Sheet_2.pdf

### Input/Output
Different types of data can be loaded in pandas dataframe. Pandas dataframe is like looks spreadsheet table (just a rough analogy)

* **Most common input types**
    * `pd.read_csv`
    * `pd.read_excel/ pd.ExcelFile`
    * `pd.read_feather` (feather format is used to reduce memory load in df as data is saved in binary form)
    * `pd.read_json`
    * `pd.read_html`
    * `pd.read_pickle` (can also infer if pickled object is zipped using infer=)
    
* **Output types have format `to_xxx` similar to input formats**

### Pandas data structures

** Pandas data strctures include `series` and `dataframe` **

**Series**: A one-dimensional labeled array a capable of holding any data type

In [3]:
Image('../input/images/series.png', width=500) # not pandas, just showing example series

In [ ]:
# index will set the index for further reference
# data can be passed as list
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])

In [ ]:
s

**Can be indexed using both index name or number.**   
number: --> filter indexes after value of number  
:number --> filter indexes before value of number

In [ ]:
s[1:]

In [ ]:
s['a']

In [ ]:
s[:'c']

In [ ]:
s.index

In [ ]:
# series using dictionary

s2 = pd.Series({'a':3, 'b': -1, 'c': 12}); s2

In [ ]:
s2['b']

**Dataframe**: A two-dimensional labeled data structure with columns of potentially different types. It is similar to excel table.  

Can make data frame using dictionary, list of list

In [ ]:
Image('../input/images/df.png', width=500)

In [ ]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasília'],
 'Population': [11190846, 1303171035, 207847528]}

In [ ]:
df_sample = pd.DataFrame(data,
 columns=['Country', 'Capital', 'Population'])

In [ ]:
df_sample

### Common dataframe functionality

Using famous `titanic data` for analysis and exploration. 
https://www.kaggle.com/c/titanic/data

In [10]:
Image('../input/images/titanic.jpg', width=700) # not pandas, just showing example series

* **Common things to do when we get data in a dataframe (examples shown below):** 
    * see dataframe shape (number of rows, number of columns) using `df.shape`
    * see top 5 rows using `pd.head()`
    * check datatype of each column using `pd.dtypes`
    * check column names using `pd.columns`
    * count unique values of each column to see cardinality levels using `pd.nunique()`
    * number of non null in each column, memory usage of  df, datatype (especially for large df) using `pd.info()`

In [ ]:
df = pd.read_csv('../input/titanic/train.csv') # read csv file

In [ ]:
df.shape

In [ ]:
df.head() # see top 5 rows of data

In [ ]:
df.dtypes # see datatype of each variable

In [ ]:
df.columns # column names

In [ ]:
df.nunique() # unique value for each variable

In [ ]:
df.info() # not null part is very useful to see how many nulls are there in data

### Advanced Indexing

#### `iloc` 
Select based on integer location (**that's why i**). Can select single or multiple

In [ ]:
df.iloc[0, 4] # 0 row, 4 column

In [ ]:
df.iloc[1:4, 2:6] # indexes are maintained. Can reset_index() to start index from 0

#### `loc`
Select based on label name of column (can select single or multiple)

In [ ]:
df.loc[1:2,'Name':"Age"] # here row indexes are numbers but column indexes are name of columns

In [ ]:
df.loc[2,['Name',"Age"]] # here row indexes are numbers.

#### `ix`
ix has been deprecated in latest pandas library. It was used to select by label or position. But we can always use `loc` to select with labels and `iloc` to select with integers/position

#### `Boolean indexing`
Returns rows where the stated condition returns true

* or -> condition 1 `|` condition 2 (`or` also works but throws ambiguity error for multiple conditions)
* and -> condition 1 `&` condition 2 (`and` also works but throws ambiguity error for multiple conditions
* not -> `~` (not condition)
* equal -> `==` Satisfying condition 
* `any()` -> columns/rows with any value matching condition
* `all()` > columns/rows with all values matching some condition

In [ ]:
# select rows with either sex as female or Pclass as 1
df[(df.Sex == 'female') | (df.iloc[:,2] == 1) ].iloc[:3] # () are important

In [ ]:
# first 3 rows of gives all columns which have all string values or all int > 1 values
df.loc[:,(df > 1).all()][:3]

In [ ]:
# first 3 rows of all columns which have all not null values
df.loc[:,(df.notnull().all() )][:3]

In [ ]:
# first 3 rows of all columns which have atleast 1 null value
df.loc[:, df.isnull().any()][:3]

In [ ]:
df[(df.iloc[:,2] == 1) & (df.Sex == 'female')].shape

In [ ]:
# fraction of males with Age > 25, df.shape[0] -> number of rows 

sum((df.Age > 25) & (df.Sex == 'male'))/df.shape[0]

In [ ]:
# number of people who survived and were not in class 3

sum((df.Survived != 0) & (~(df.Pclass == 3)) )

#### `querying`
Query columns (filter rows) of dataframe with boolean expression (Filter based on condition)

In [ ]:
# filter all rows which have Age > Passenger ID
df.query('Age > PassengerId')

`filter`  

Filter dataframe on column names or row names (labels) by regrex or just item names

In [ ]:
# filter only sex and age columns (first 2 rows)

df.filter(items=['Age', 'Sex'])[:2]

In [ ]:
# filter only 0 and 5 row index

df.filter(items=[0,5], axis=0)

In [ ]:
# first 2 rows of column names ending with "ed" (think of past tense)

df.filter(like = 'ed', axis=1)[:2]

In [ ]:
# Can use same thing as above using regex also

df.filter(regex='ed$', axis=1)[:2]

#### `isin` 

Filter rows of column based on list of multiple values

In [ ]:
df[df.Pclass.isin([0,1])].head()

### Setting/ Resetting Index
Setting and resetting index are important when we merge/groupby 2 dataframe and want to do further analysis on new dataframe. A dataframe with repeated indexes can cause problems in filtering. Apart from this we cvan set a column into index which makes merging much faster

#### `set_index()`
Set any column you want as index of df

In [ ]:
# setting 
df.set_index('Ticket')[:2]

In [ ]:
# can set multiple columns as index also. Just pass them in list
# Setting Ticket and Name as index

df.set_index(['Ticket', 'Name'])[:2]

In [ ]:
# can see what are values of index. 
# checking index of 1st row

df.set_index(['Ticket', 'Name']).index[0]

#### `reset_index()`
Can reset index back to 0....nrows-1

In [ ]:
df_index = df.set_index(['Ticket', 'Name'])

In [ ]:
df_index[:2]

In [ ]:
df_index.reset_index()[:2]

In above case, index is back to 0,1...

#### `rename()` 
Renaming column names or row indexes of dataframe. Default is index

In [ ]:
df.rename(columns={'Name': 'Whats_name', 'Fare':'Price'})[:2]

In [ ]:
# can use some mapper function also. default axis='index' (0)

df.rename(mapper=str.lower, axis='columns')[:2]

### Duplicated data

#### `unique()`
Number of unique values in a column of df (Use nunique() for count of unique in each column)

In [ ]:
df.Sex.unique()

#### `duplicated()`
Check duplicated in column. Returns True/False

In [ ]:
sum(df.PassengerId.duplicated()) # there are no duplicate passegerid. good thing to check

In [ ]:
# can check duplicates in index also.
# useful if doubtful about duplicates in index doing bad things 

sum(df.index.duplicated())

#### `drop_duplicates`
Drop rows which have duplicates

In [ ]:
# can help in getting unique combination of multiple columns
# unique() dosn't work in this case
df.loc[:,['Sex', 'Embarked']].drop_duplicates()

### Grouping data
Group by some column/columns, then we can aggregate to get mean, count, sum or custom function based on the group

#### `groupby`

In [ ]:
# group by sex then count. 
# returns count in each column. difference in some cases because of nulls in those columns
# can do iloc[:,0] to only get first column 

df.groupby(by = ['Sex']).count()

In [ ]:
# can use multiple conditions
# group by sex and survived -> mean of age

df.groupby(by = ['Sex', 'Survived']).mean().loc[:,'Age']

In [ ]:
# can group by indexes also by using levels= 
# useful when we have multindexes
# can use agg function with lambda func

df_index = df.set_index(['Sex', 'Pclass'])
df_index.groupby(level=[0,1]).agg({'Fare': lambda x: sum(x)/len(x), # this is also just mean actually
                                  'Age' : np.mean})

Interesting! Ticket price of 1st class female is approximately double of 1st class male

#### `transform`
Can apply such functions for all columns also using transform which transforms all rows

In [ ]:
# shape of below code is same as original df

df_index.groupby(level=[0,1]).transform(lambda x: sum(x)/len(x)).head()

### Handling missing data

#### `dropna`
Drop rows with na

In [ ]:
# how=any -> row with any column = NA

df.dropna(axis=0,  how='any').shape

In [ ]:
# how=any -> row with all columns = NA

df.dropna(axis=0, how='all').shape

In [ ]:
# drops column which have any row of NA

[set(df.columns) - set(df.dropna(axis=1, how='any').columns)]

Three columns have been removed

#### `fillna`

In [ ]:
# replace with mean of that column
# can put any specific value also
# would not work for columns with string type like Cabin

df.fillna(np.mean)[:1]

### Combining Data

In [12]:
Image("../input/images/combine.png", width=500)

#### `merge` /  `join`

* **how** = 'left', 'right', 'outer', 'inner'
* **on**

In [ ]:
data1 = pd.DataFrame({'x1': list('abc'), 'x2': [11.432, 1.303, 99.906]})

In [ ]:
data2 = pd.DataFrame({'x1': list('abd'), 'x3': [20.784,  np.NaN, 20.784]})

In [ ]:
data1

In [ ]:
data2

In [ ]:
# inner join when both table have that key (like sql)

data1.merge(data2, how='inner', on='x1')

In [ ]:
# outer joins on all keys in both df and creates NA

data1.merge(data2, how='outer', on='x1')

can also use `join` but `merge` is faster. just use merge

In [ ]:
# if columns overlap, have to specify suffix as it makes for all

data1.join(data2, on='x1', how='left', lsuffix='L')

#### `concatenate`

In [ ]:
# join over axis=0, i.e rows combine 
# also adds all columns with na

pd.concat([data1, data2], axis=0)

Notice that it has index duplicates as it maintain original df index

Can use `ignore_index=True` to make index start from 0

In [ ]:
pd.concat([data1, data2], axis=0, ignore_index=True)

In [ ]:
data2.loc[3] = ['g', 500] # adding new row
data2

In [ ]:
# join over axis=1, i.e columns combine 

pd.concat([data1, data2], axis=1)

### Date formatting

* `to_datetime()` -> convert whatever format argument to datetime (obviously that can be parsed to datetime)
* `date_range()` -> generates datetime data
* `Datetimeindex` -> datetypeindex data

In [ ]:
pd.to_datetime('2018-2-19')

In [ ]:
# gives datetimeindex format

pd.date_range('2018-4-18', periods=6, freq='d')

In [ ]:
data1['date'] = pd.date_range('2018-4-18', periods=3, freq='d')

In [ ]:
data1

In [ ]:
data1.date

In [ ]:
pd.DatetimeIndex(data1.date)

### Reshaping data

#### `pivot` -> reshape data
Ever used pivot table in excel? It's same.

In [ ]:
# index = new index, columns = new_columns, values = values to put

df.pivot(index='Sex', columns = 'PassengerId', values = 'Age')

In above case, use of pivot doesn't make sense but this is just an example

#### `stack` 

Convert whole df into 1 long format

In [ ]:
df.stack()

You won't generally use it. I have never come across its use over my experience with python

### Iteration
To get column/row indexes, series pair. 

* `iteritems()` for column-index, series
* `iterrows()` for row-index, series

In [ ]:
list(df.Sex.iteritems())[:5]

In [ ]:
list(df.iterrows())[0]

### Apply functions

* `apply` -> apply function over df
* `apply_map` -> apply function elementwise (for each series of df. think of column wise)

In [ ]:
# function squares when type(x) = float, cubes when type(x) = int, return same when other

f = lambda x: x**2 if type(x) == float else x**3 if type(x) == int else x

In [ ]:
# whole series is passed

df.Fare.apply(f)[:3]

In [ ]:
# elements are passed

df.applymap(f)[:3]

### Working with text data
What all can we do when we have string datatype in pandas dataframe/series ?

#### `str` 

Working with string format in pandas series/df 

We can do:
* `str.upper()/lower()` to convert string into upper or lower case
* `str.len()` to find the length of sting
* `str.strip()/lstrip()/rstrip()` to strip spaces
* `str.replace()` to replace anything from string
* `str.split()` to split words of string or using some other delimiter
* `str.get()` to access elements in slit list 
* `str.resplit()` spit in reverse order of string based on some delimiter
* `str.extract()` extract specific thing from string. alphabet or number

Let's see how to use all that in pandas series. Keep in mind pandas DataFrame has no attribute called `str` and works on Series object only. So, grab column of df, then apply `str`

In [ ]:
# converts all rows into lower

df.Name.str.lower().head()

In [ ]:
# converts all rows into upper 

df.Sex.str.upper().head()

In [ ]:
# counts all the characters including spaces

df.Name.str.len().head()

In [ ]:
# splits strings in each row over whitespaces ()
# expand=True : expand columns
# pat = regex to split on

df.Name.str.split(pat=',',expand=True).head().rename(columns={0:'First_Name', 1: 'Last_Name'})

In [ ]:
# splits strings in each row over whitespaces ()
# expand=False : doesn't expand columns
# pat = regex to split on

df.Name.str.split(expand=False).head()

In [ ]:
# replace Mr. with empty space

df.Name.str.replace('Mr.', '').head()

In [ ]:
# get() is used to get particular row of split

df.Name.str.split().get(1)

In [ ]:
df.Name[:10]

In [ ]:
# Extract just last name

df.Name.str.extract('(?P<Last_Name>[a-zA-Z]+)', expand=True).head()

### End